body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}





.header{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap:10px;
    width:100%;
    height: 60px;
    background-color: #1f2937;
    color: #e5e7eb;
   
}

.hero{
    background-color:#1f2937 ;
    width:100%;
    height: 300px;
    display: flex;
    flex:1;
    justify-content: center;
    gap:20px;
    margin-bottom: 0;
}

.motivation{
    background-color: #e5e7eb;
    font-size:36px;
    font-weight: 300;
    color:#1f2937
    height:300px;
    width:100%;
    margin-bottom: 0;
}

.action h2 {
    margin-top: 0;
}

.container3{
    margin-top: 0;
    background-color: #86a3dd;
    color:antiquewhite;
    height:300px;
    width:100%;
    padding: 60px 40px;
}

.call-to-action{
    width:85%;
    height:200px;
    background-color: #3882f6;
    border-radius: 10px;
}

.product{
    margin-top: 0;
}

.quoter{
    text-align:right;
}

.dimensions{
display:flex;
flex-direction: column;
flex:1;
flex-wrap: wrap;
padding: 60px 40px;
}

p{
    margin-top: 2px;
}
#logo{
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    
}

.header-nav{
    font-size:18px;
    color:#e5e7eb;
}

h2{
   font-size: 48px;
    color: #f9faf8;
    font-weight: 900;  
}

#signup{
    background-color: #3882f6;
    border-radius: 10px;

}

.image img{
    width:300px;
    height:200px;
    border:2px solid lime;
    border-radius: 10px;
}



.container2{
    background-color:#a6d17a;
    width:100%;
    height: 300px;
    margin-top: 0;
}

.container2 > h3{
    text-align: center;
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
    margin-top: 0;
}

.solutions{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 15px;
}

.solution-items{
    width: 150px;
    height: 150px;
    border: 1px dashed rgb(37, 6, 87);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #1f2937;
    overflow: hidden;
}

#quiz img{
    width:100%;
    height:100%;
    object-fit: cover;
}

#notes img{
    width:100%;
    height:100%;
}

#papers img{
    width:100%;
    height:100%;
}

#tutoring img{
    width:100%;
    height:100%;
}

.footer{
    background-color: #1f2937;
    width:100%;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    color: #e5e7eb;
    padding-top: 15px;
    padding-bottom: 15px;
}
